In [2]:
import polars as pl
from pathlib import Path
from tqdm import tqdm
from src.config import Settings
from src.db_tools import DBEngine

# Create connection
db_engine = DBEngine(**Settings().model_dump())

postgresql+psycopg2://postgres:mysecretpassword@localhost:5432/postgres

In [3]:
df = pl.DataFrame([])
for file in tqdm(Path("data/parquet/bevolking").iterdir()):
    if df.is_empty():
        df = pl.read_parquet(file)
        df = df.cast(str)
        # df = df.cast({'id': pl.Int32, 'geslacht_key': pl.Utf8, 'leeftijd_key': pl.Int32, 'burgst_key': pl.Utf8, 'regio_key': pl.Utf8, 'datum_key': pl.Utf8, 'bevolking_1_januari': pl.Int32, 'gemiddelde_bevolking': pl.Float32})

    else:
        new_df = pl.read_parquet(file, dtype=str)
        # new_df =new_df.cast({'id': pl.Int32, 'geslacht_key': pl.Utf8, 'leeftijd_key': pl.Int32, 'burgst_key': pl.Utf8, 'regio_key': pl.Utf8, 'datum_key': pl.Utf8, 'bevolking_1_januari': pl.Int32, 'gemiddelde_bevolking': pl.Float32})

        df.extend(new_df)

0it [00:00, ?it/s]

0it [00:00, ?it/s]

TypeError: read_parquet() got an unexpected keyword argument 'dtype'

In [54]:
df.write_database(table_name="bevolking", con=db_engine.db_url, if_exists="append")

shape: (4_800_000, 8)
┌─────────┬────────────┬────────────┬────────────┬───────────┬───────────┬────────────┬────────────┐
│ id      ┆ geslacht_k ┆ leeftijd_k ┆ burgst_key ┆ regio_key ┆ datum_key ┆ bevolking_ ┆ gemiddelde │
│ ---     ┆ ey         ┆ ey         ┆ ---        ┆ ---       ┆ ---       ┆ 1_januari  ┆ _bevolking │
│ i32     ┆ ---        ┆ ---        ┆ str        ┆ str       ┆ str       ┆ ---        ┆ ---        │
│         ┆ str        ┆ i32        ┆            ┆           ┆           ┆ i32        ┆ f32        │
╞═════════╪════════════╪════════════╪════════════╪═══════════╪═══════════╪════════════╪════════════╡
│ 0       ┆ T001038    ┆ 10000      ┆ T001019    ┆ NL01      ┆ 1988JJ00  ┆ 14714948   ┆ null       │
│ 1       ┆ T001038    ┆ 10000      ┆ T001019    ┆ NL01      ┆ 1989JJ00  ┆ 14805240   ┆ null       │
│ 2       ┆ T001038    ┆ 10000      ┆ T001019    ┆ NL01      ┆ 1990JJ00  ┆ 14892574   ┆ null       │
│ 3       ┆ T001038    ┆ 10000      ┆ T001019    ┆ NL01      ┆ 1991JJ00  ┆ 15010445   ┆ null       │
│ …       ┆ …          ┆ …          ┆ …          ┆ …         ┆ …         ┆ …          ┆ …          │
│ 1429996 ┆ T001038    ┆ 10700      ┆ 1080       ┆ GM0933    ┆ 1992JJ00  ┆ null       ┆ null       │
│ 1429997 ┆ T001038    ┆ 10700      ┆ 1080       ┆ GM0933    ┆ 1993JJ00  ┆ null       ┆ null       │
│ 1429998 ┆ T001038    ┆ 10700      ┆ 1080       ┆ GM0933    ┆ 1994JJ00  ┆ null       ┆ null       │
│ 1429999 ┆ T001038    ┆ 10700      ┆ 1080       ┆ GM0933    ┆ 1995JJ00  ┆ null       ┆ null       │
└─────────┴────────────┴────────────┴────────────┴───────────┴───────────┴────────────┴────────────┘